<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>My name is Emma and I am a senior at MIT studying computer science and cognitive science, with a minor in Spanish. In the fall, I will be
          continuing in academia by pursuing a Master of Engineering, also at MIT. My main academic interest is language, specifcally the way we 
          humans create and process it, but also how to improve intelligent machines so that they can reach the same levels of language understanding 
          and creation as us! <br> <br> When I am not studying for classes or working on my research, you can find me playing Exploding Kittens with 
          friends, replaying a Legend of Zelda game on my switch, watching new shows (currently White Lotus), or finding new recipes to make! 
          Send me a message to talk about the interesection of art and science, anime, conlangs (and language in general), and cool video 
          games!<br> <br> I am currently looking for summer 2023 internships. If you are hiring for positions related to data science, NLP, 
          product engineering, HCI or machine learning, send me an email at echabane@mit.edu !</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://drive.google.com/file/d/1_haXyaaWxFeG9BISunhIB76-UhZu8Vfj/view?usp=share_link" class="btn btn-lg btn-outline">
          <i class="fa fa-file-text"></i> Check out my resume!
        </a>
      </div>
    </div>
  </div>
</section>
